/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  font-family: "Andika", sans-serif;
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-color: #DDDDDD;
  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  /*Req 2*/
}

p{
  padding-top: 15px;
  /*Req 3*/
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration: wavy underline;
  /*Req 4*/
}
*{
  border: 3px dashed #417243;
}
/*Req 5*/
/*Add selector and rule here*/


/*Req 6a*/
td{
  border-top: 2px solid black;
  padding: 10px;
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(126, 8, 32);
}
/*Req 6c*/
.rowhead{
  border-top: 2px solid black;
  border-right: 2px solid black;
}

/*Req 6d*/
tr:nth-child(odd){
  background: transparent;
}
/*Req 6e*/
tr:nth-child(even){
  background: #D1D1D1;
}
/*Req 6f*/
tr:hover{
  background-color: rgba(126,8,32,.25);
}

/*Req 7*/
table{
  border: 2px solid #000000;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

thead tr:first-child th:first-child{border-top-left-radius: 10px;}
thead tr:first-child th:last-child{border-top-right-radius: 10px;}
tbody tr:last-child th:first-child{border-bottom-left-radius: 10px;}
tbody tr:last-child td:last-child{border-bottom-right-radius: 10px;}

/*Add selectors and rules here*/


/*Req 8*/
footer{
  width:100%;
  min-height: 75px;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left:0;
}

